*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer{
    background-color: black;
    color: white;
    font-size: 14px;
}
footer .row{
    padding-bottom: 30px;
}
footer .container-large .row ul{
    list-style: none;
}
footer .container-large .col-footer{
    width:  calc(100% / 5);
    float: left;
    padding: 30px 0;
}
footer .container-large .col-footer h4{
    padding-bottom: 20px;
}
footer .container-large .col-footer li{
    line-height: 25px;
}
footer .container-large .language{
    padding-top: 50px;
    color: lightgray;
}
.min-border{
    width: 100px;
    border-top: 1px solid lightgray;
    padding-bottom: 50px;
}