*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    }
.row::after{
    content: '';
    display: table;
    clear: both;
}
.container {
    max-width: 1010px;
    width: 100%;
    margin: auto;
    /* border: 1px solid; */
    }
main .second-article{
    padding-top: 200px;
}
main .second-article h2{
    padding-bottom: 20px;
}
main .second-article form label{
    margin-right: 25px;
}
main .second-article .row {
    padding: 25px 0;
}
main .second-article .row .internal-container{
    width: 90%;
    border: 1px solid lightgray;
    margin: auto;
    min-height: 900px;
    font-size: 14px;
    /* padding: 0 18px; */
}
.internal-container-content{
    padding: 0 18px;
}
main .second-article .row .internal-container .list-subtitle{
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid lightgray;
}

.list-with-icons li i,
.last-list li i{
    /* position: absolute;
    margin: 3px -15px; */
    position: absolute;
    left: 0;
    padding: 5px 0;
    margin-left: -2px;
}

.border{
    width: 45px;
    border-bottom: 1px solid lightgray;
    padding-bottom: 40px;
}
.internal-container ul{
    list-style: none;
    padding: 15px 0;
    position: relative;
}
ul.list-with-icons{
    padding: 0 15px;
}
main .second-article .row .internal-container ul li{
    padding: 10px 0;
    list-style: none;
    padding-left: 4px;
}

main .second-article .row .internal-container .blue-btn{
    text-decoration: none;
}
main .second-article .row .internal-container .btn-space{
    padding: 40px 0;
}

main .second-article .internal-container .last-list{
    padding: 40px 0;
}
main .second-article .internal-container .last-list ul{
    padding: 0 13px;
}
.fa-check{
    color: #0061FF;
}
h4{
    font-size: 16px;
}

/* Horizontal div */

main .second-article .horizontal-container{
    width: 97%;
    border: 1px solid lightgray;
    margin: auto;
}
main .second-article .horizontal-container .row{
    padding: 20px 25px;
}
main .second-article .horizontal-subtitle{
    text-align: center;
    border-bottom: 1px solid lightgray;
}

main .second-article .horizontal-container .row .blue-btn{
    float: right;
    text-decoration: none;
    width: 100%;
    text-align: center;
}
main .second-article .horizontal-container .row span{
    padding: 30px 0;
}
main .second-article .horizontal-container .row h3{
    padding-bottom: 20px;
}
main .second-article .horizontal-container .row span{
    font-size: 14px;
}
