*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
  }

.sixth-article .container{
    padding: 60px 0;
}
.sixth-article .container h3{
    padding-bottom: 50px;
}
.sixth-article .container ul{
    list-style: none;
}
.sixth-article .container ul li{
    border-top: 1px solid lightgray;
    line-height: 50px;
}
.sixth-article .container ul li:last-child{
    border-bottom: 1px solid lightgray;
}
.sixth-article .container .row h5{
    display: inline-block;
    padding-right: 30px;
}
.row-faq{
    float: right;
    padding-right: 20px;
}
/* Animations */

.arrow{
    transform: rotate(0deg);
    transition: transform 0.5s;
}
.row .row-hide-content{
    /* display: none; */
    transition:  0.5s;
    height: 0px;
    overflow: hidden;
}
.row:focus .row-hide-content{
    /* display: block; */
    height: 200px;
    overflow: auto;
}

.row:focus .arrow {
    transform: rotate(180deg);
}