*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 .row::after{
     content: '';
     display: table;
     clear: both;
 }
 header ul li{
     display: inline-block;
 }
 nav{
     width: 100%;
 }
 .row.nav-left{
     float: left;
 }

 .row.nav-right{
     float: right;
 }
 