*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
.row::after{
    content: '';
    display: table;
    clear: both;
}
header ul li{
    display: inline-block;
    padding: 0 10px;
}
header ul li a,
.first-article a{
  text-decoration: none;
  list-style: none;
  color: black;
  padding: 10px 0;
}
nav{
  width: 100%;
  position: fixed;
  font-size: 14px;
  top: 0;
  left: 0;
  background-color:white;
  z-index: 10;
}
.row.nav-left{
    float: left;
}

.row.nav-right{
    float: right;
}
nav ul{
  padding: 10px 20px;
}
header ul li .logo-small {
    vertical-align: middle;
}
/* nav ul li  */
.blue-btn{
    background-color: #0061FF;
    padding: 6px 20px;
    color: white;
}
/* Colonne */
.col_1_9 {
  width: calc(100% / 9);
}

.col_2_9 {
  width: calc(100% / 9 * 2);
}

.col_3_9 {
  width: calc(100% / 9 * 3);
}

.col_4_9 {
  width: calc(100% / 9 * 4);
}

.col_5_9 {
  width: calc(100% / 9 * 5);
}

.col_6_9 {
  width: calc(100% / 9 * 6);
}
[class*="col_"] {
  float: left;
}
p{
  font-size: 14px;
}

 /* First Article */
 main .blue-bg{
   background-color: #B4D0E7;
   margin-top: 45px;
   position: relative;
   max-height: 500px;
 }
 main .first-article .container-large{
   width: 1000px;
   margin: auto;
   /* border: 1px solid; */
   position: relative;
   padding: 30px 0;
 }
 main .container-large h1{
   font-size: 58px;
 }
 main .first-article p{
   padding-right: 100px;
 }
main .first-article .row{
  padding: 50px 0;
}
main .first-article a{
  display: block;
  color: white;
  width: 235px;
  padding: 5px 20px;
}
main .first-article .left-bottom{
  padding-top: 20px;
  padding-bottom: 15px;
}
main .first-article .down-arrow{
  font-size: 25px;
  padding-top: 30px;
}
 